<section id="media-url-section-{{ mediaId }}" class="hs-form">
    <form name="form" data-ng-if="vm.media" novalidate>
        <div class="row">
            <div class="col-sm-11">
                <div class="form-group" data-ng-class="{ 'has-error' : form.stream.$invalid && form.stream.$touched }">
                    <label for="stream">Video Stream URL</label>
                    <p>This needs to be a URL to an .m3u8 file. (ie: https://mydomain.com/stream.m3u8)</p>
                    <input type="text" id="stream" class="form-control" name="stream" placeholder="Enter a URL"
                        data-ng-model="vm.media.streamUrl"
                        data-ng-trim="true"
                        data-ng-maxlength="128"
                        required></input>

                    <p class="help-block" data-ng-show="form.stream.$invalid && form.stream.$touched">
                        Please enter a URL.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button  type="button" class="btn btn-primary" data-ng-disabled="form.$invalid || vm.saving || !vm.dirty" data-ng-click="vm.save()">Save</button>
                <span class="hs-form-saving-text">
                    {{ vm.saving ? "Saving Changes..." : vm.dirty ? "" : "All Changes Saved." }}
                </span>
            </div>
        </div>
    </form>
</section>
