<div class="alert alert-danger alert-dismissable" data-ng-if="vm.invalidFile" role="alert">
    <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
        <li>
            <strong>{{ vm.invalidFile.name }}</strong> - File type not supported
        </li>
    </ul>
</div>

<section id="upload-file-selector" class="drop-box hs-upload-select"
         data-ng-if="!vm.isUploading"
         data-ng-model="vm.selectedFile"
         data-ngf-model-invalid="vm.invalidFile"
         data-ngf-drop
         data-ngf-select
         data-ngf-drag-over-class="'hs-upload-select-drag-over'"
         data-ngf-multiple="false"
         data-ngf-allow-dir="false"
         data-ngf-pattern="'{{ vm.acceptedFileTypes }}'">

    <button class="btn btn-primary">Select Media File to Upload</button>
    <p>Or drag and drop media file here</p>
</section>

<div id="mediaUploadDirectives"></div>
