<div class="container" data-ng-if="vm.state.speakers">
    <button class="btn btn-primary pull-right hs-add-button" data-toggle="modal" data-target="#add-speaker-modal">Add Speaker</button>

    <h1>Speakers</h1>

    <div class="table-responsive hs-table">
        <table id="speaker-list" class="display table table-bordered table-striped"
            data-datatable="ng"
            data-dt-options="vm.dtOptions"
            data-dt-column-defs="vm.dtColumnDefs"
            cellspacing="0"
            width="100%">

            <thead><tr><th>Image</th><th>Name</th></tr></thead>
            <tfoot><tr><th>Image</th><th>Name</th></tr></tfoot>

            <tbody>
                <tr data-ng-repeat="speaker in vm.state.speakers">
                    <td><img data-ng-src="{{speaker.thumbnailUrl}}" style="height:68px;width:120px;background-color:#EDEDED;margin-left:16px;margin-right:8px;"></img></td>
                    <td data-ng-if="speaker.ownerId == vm.state.user.id"><a data-ui-sref="speaker({ id: speaker.id })">{{ speaker.name ? speaker.name : "Untitled" }}</a></td>
                    <td data-ng-if="speaker.ownerId != vm.state.user.id">
                        {{ speaker.name ? speaker.name : "Untitled" }}
                        <button class="btn btn-default pull-right hs-add-button" data-ng-click="vm.speakerToClaim = speaker" data-toggle="modal" data-target="#claim-speaker-modal">Claim</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container" data-ng-if="!vm.state.speakers">
    <section class="hs-loading-view">
        <h1>Loading Speakers</h1>
        <p class="lead">Please wait one moment.</p>
        <span id="spinner" us-spinner></span>
    </section>
</div>

<!-- Modal for Add Speaker -->
<div id="add-speaker-modal" class="modal fade" data-ng-if="vm.state.speakers" role="dialog" aria-labelledby="add-speaker-modal-label" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-speaker-modal-label">Add Speaker</h4>
            </div>

            <div class="modal-body">
                <p>It's possible that the speaker you're trying to add already exists. Please search for your speaker before adding a new one.</p>
                <p><strong>NOTE:</strong> If this speaker belongs to your church, please <strong>Add and Claim</strong>.</p>

                <div class="form-group" data-ng-class="{ 'has-error' : form.name.$invalid && form.name.$touched }">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Enter a name"
                        data-ng-model="vm.newSpeakerName"
                        data-ng-trim="true"
                        data-ng-maxlength="128"
                        required></input>

                    <p class="help-block" data-ng-show="form.name.$invalid && form.name.$touched">
                        Please enter a title.
                    </p>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>

                <button class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.createSpeaker(vm.newSpeakerName)">
                    Add Speaker
                </button>

                <button class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.createSpeaker(vm.newSpeakerName, true)">
                    Add and Claim Speaker
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Claim Speaker -->
<div id="claim-speaker-modal" class="modal fade" data-ng-if="vm.state.speakers" role="dialog" aria-labelledby="claim-speaker-modal-label" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="claim-speaker-modal-label">Claim Speaker</h4>
            </div>

            <div class="modal-body">
                <p>Claim "<strong>{{ vm.speakerToClaim.name ? vm.speakerToClaim.name : 'Untitled' }}</strong>?"</p>
                <p>Press the <strong>CLAIM SPEAKER</strong> button if your church should manage this speaker.</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>

                <button class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.claimSpeaker(vm.speakerToClaim)">
                    Claim Speaker
                </button>
            </div>
        </div>
    </div>
</div>
