<div class="container" data-ng-if="vm.speaker && vm.state.media">
    <p><a data-ui-sref="speaker-list"><i class="fa fa-angle-left"></i> &nbsp;Back to Speaker List</a></p>

    <h1>{{ vm.speaker.name ? vm.speaker.name : 'Untitled' }}</h1>

    <div class="hs-expand-collapse-all-buttons">
        <button class="btn btn-collapsible" data-ng-click="
            vm.isDetailsSectionCollapsed   = false;
            vm.isImageSectionCollapsed     = false;
            vm.isMediaListSectionCollapsed = false;
            vm.isAdvancedSectionCollapsed  = false;">
            <i class="fa fa-2x fa-angle-down"></i>
        </button>

        <button class="btn btn-collapsible" data-ng-click="
            vm.isDetailsSectionCollapsed   = true;
            vm.isImageSectionCollapsed     = true;
            vm.isMediaListSectionCollapsed = true;
            vm.isAdvancedSectionCollapsed  = true;">
            <i class="fa fa-2x fa-angle-up"></i>
        </button>
    </div>

    <!-- FORM -->
    <section class="hs-content-section">
        <button type="button" class="btn btn-collapsible pull-right hs-collapse-toggle" data-ng-click="vm.isDetailsSectionCollapsed = !vm.isDetailsSectionCollapsed">
            <i class="fa fa-2x fa-angle-down" data-ng-show="vm.isDetailsSectionCollapsed"></i>
            <i class="fa fa-2x fa-angle-up" data-ng-show="!vm.isDetailsSectionCollapsed"></i>
        </button>

        <h2>Details</h2>

        <section id="speaker-details-section" class="hs-form" data-uib-collapse="vm.isDetailsSectionCollapsed">
            <hs-speaker-form speaker-id="{{ vm.id }}"></hs-speaker-form>
        </section>
    </section>

    <!-- IMAGE -->
    <section class="hs-content-section">
        <button type="button" class="btn btn-collapsible pull-right hs-collapse-toggle" data-ng-click="vm.isImageSectionCollapsed = !vm.isImageSectionCollapsed">
            <i class="fa fa-2x fa-angle-down" data-ng-show="vm.isImageSectionCollapsed"></i>
            <i class="fa fa-2x fa-angle-up" data-ng-show="!vm.isImageSectionCollapsed"></i>
        </button>

        <h2>Image</h2>

        <div class="row" data-uib-collapse="vm.isImageSectionCollapsed">
            <div class="col-sm-4 hs-media-image-section-instructions">
                <p>Upload an image for this speaker.</p>
                <p>Image must be in <strong>.jpg</strong> format.</p>

                <hs-image-upload speaker-id="{{ vm.id }}"></hs-image-upload>
            </div>

            <div class="col-sm-8 hs-media-image-section-preview" data-ng-if="vm.shouldShowImage">
                <img class="img-responsive" alt="Poster Image" data-ng-src="{{ vm.imageUrl }}" data-hs-media-image>
            </div>
        </div>
    </section>

    <!-- MEDIA LIST -->
    <section class="hs-content-section">
        <button type="button" class="btn btn-collapsible pull-right hs-collapse-toggle" data-ng-click="vm.isMediaListSectionCollapsed = !vm.isMediaListSectionCollapsed">
            <i class="fa fa-2x fa-angle-down" data-ng-show="vm.isMediaListSectionCollapsed"></i>
            <i class="fa fa-2x fa-angle-up" data-ng-show="!vm.isMediaListSectionCollapsed"></i>
        </button>

        <h2>Media List</h2>

        <section id="speaker-media-section" data-uib-collapse="vm.isMediaListSectionCollapsed">
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">Media entries by this speaker</p>

                    <div class="table-responsive hs-table">
                        <table id="media-list" class="display table table-bordered table-striped"
                            data-datatable="ng"
                            data-dt-options="vm.dtOptions"
                            data-dt-column-defs="vm.dtColumnDefs"
                            cellspacing="0"
                            width="100%">

                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>UTC Timestamp</th>
                                    <th>Title</th>
                                    <th>Speaker</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Date</th>
                                    <th>UTC Timestamp</th>
                                    <th>Title</th>
                                    <th>Speaker</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>

                            <tbody>
                                <tr data-ng-repeat="media in vm.state.media" data-ng-if="media.speakerIds.indexOf(vm.speaker.id) != -1">
                                    <td>
                                        {{ media.date | date: 'MMM d, yyyy' }}
                                        <small>{{ media.date | date: 'EEEE h:mm a' }}</small>
                                    </td>

                                    <td>{{ media.date }}</td>

                                    <td>
                                        <div>
                                            <a data-ui-sref="media({ id: media.id })">{{ media.name ? media.name : 'Untitled' }}</a>
                                        </div>
                                        <div data-ng-if="media.seriesId && vm.state.seriesByID[media.seriesId]" data-ng-init="series = vm.state.seriesByID[media.seriesId]">
                                            {{ series.name ? series.name : 'Untitled' }}
                                        </div>
                                    </td>

                                    <td data-ng-if="media.speakerIds.length > 0">
                                        <div data-ng-repeat="speakerId in media.speakerIds" data-ng-init="speaker = vm.state.speakersByID[speakerId]">
                                            {{ speaker.name ? speaker.name : 'Untitled' }}
                                        </div>
                                    </td>
                                    <td data-ng-if="media.speakerIds.length == 0">
                                        <div>--</div>
                                    </td>

                                    <td>
                                        <hs-media-status status="{{ media.status }}"></hs-media-status>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- ADVANCED -->
    <section class="hs-content-section">
        <button type="button" class="btn btn-collapsible pull-right hs-collapse-toggle" data-ng-click="vm.isAdvancedSectionCollapsed = !vm.isAdvancedSectionCollapsed">
            <i class="fa fa-2x fa-angle-down" data-ng-show="vm.isAdvancedSectionCollapsed"></i>
            <i class="fa fa-2x fa-angle-up" data-ng-show="!vm.isAdvancedSectionCollapsed"></i>
        </button>

        <h2>Advanced</h2>

        <div class="row" id="speaker-advanced-section" data-uib-collapse="vm.isAdvancedSectionCollapsed">
            <div class="col-sm-6 hs-advanced-section-item">
                <h3>Delete Speaker</h3>
                <p>Permanently delete this speaker.</p>

                <p><strong>NOTE:</strong> This will not delete any media entries that are by this speaker. This will
                    simply delete the speaker, and those media records will no longer be associated with this speaker.</p>

                <button class="btn btn-danger-inverse" data-toggle="modal" data-target="#delete-speaker-modal">
                    <i class="fa fa-trash"></i> &nbsp;Delete Speaker
                </button>
            </div>
        </div>
    </section>

    <p><a data-ui-sref="speaker-list"><i class="fa fa-angle-left"></i> &nbsp;Back to Speaker List</a></p>
</div>

<!-- Modal for Delete Speaker -->
<div id="delete-speaker-modal" class="modal fade" data-ng-if="vm.speaker && vm.state.media" role="dialog" aria-labelledby="delete-series-modal-label" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-speaker-modal-label">Delete Speaker</h4>
            </div>

            <div class="modal-body">
                <p>Permanently delete "<strong>{{ vm.speaker.name ? vm.speaker.name : 'Untitled' }}</strong>?"</p>

                <p><strong>NOTE:</strong> This will not delete any media entries that are by this speaker. This will
                    simply delete the speaker, and those media records will no longer be associated with this speaker.</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>

                <button class="btn btn-danger" data-dismiss="modal" data-ng-click="vm.deleteSpeaker()">
                    <i class="fa fa-trash"></i>&nbsp; Delete Speaker
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container" data-ng-if="!vm.speaker || !vm.state.media">
    <section class="hs-loading-view">
        <h1>Loading Details</h1>
        <p class="lead">Please wait one moment.</p>
        <span id="spinner" us-spinner></span>
    </section>
</div>
