<section id="organization-details-section" class="hs-form">
    <form name="form" data-ng-submit="vm.save()" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error': form.name.$invalid && form.name.$touched }">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name"
                        data-ng-model="vm.organization.name"
                        data-ng-trim="true"
                        required></input>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" id="url" class="form-control" name="url"
                        data-ng-model="vm.organization.url"
                        data-ng-trim="true"
                        required></input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" name="description" placeholder="Enter a description"
                        data-ng-model="vm.organization.description"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button  type="button" class="btn btn-primary" data-ng-disabled="form.$invalid || vm.saving || !vm.dirty" data-ng-click="vm.save()">Save</button>
                <span class="hs-form-saving-text">
                    {{ vm.saving ? "Saving Changes..." : vm.dirty ? "" : "All Changes Saved." }}
                </span>
            </div>
        </div>
    </form>
</section>
