<div class="container" data-ng-if="vm.state.media">
    <h1>Add Media</h1>

    <div class="alert alert-danger alert-dismissable" role="alert" data-ng-if="vm.invalidFiles.length">
        <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul>
            <li data-ng-repeat="file in vm.invalidFiles">
                <strong>{{ file.name }}</strong> - File type not supported
            </li>
        </ul>
    </div>

    <section id="upload-file-selector" class="drop-box hs-upload-select"
             data-ng-model="vm.selectedFiles"
             data-ngf-model-invalid="vm.invalidFiles"
             data-ngf-drop
             data-ngf-select
             data-ngf-drag-over-class="'hs-upload-select-drag-over'"
             data-ngf-multiple="true"
             data-ngf-allow-dir="true"
             data-ngf-pattern="'{{ vm.acceptedFileTypes }}'">

        <button class="btn btn-primary">Select Media Files to Upload</button>
        <p>Or drag and drop media files here</p>
    </section>

    <section class="hs-create-media" data-ng-if="!vm.hasActiveUploads">
        <p><strong>or</strong></p>
        <button class="btn btn-primary" data-ng-click="vm.createCustomMedia()">Create Custom Media</button>
        <p>
            Use this option if you'd like to provide<br \>
            your own video, audio, and stream URLs.
        </p>
    </section>

    <div id="mediaUploadDirectives"></div>
</div>

<div class="container" data-ng-if="!vm.state.media">
    <section class="hs-loading-view">
        <h1>Loading</h1>
        <p class="lead">Please wait one moment.</p>
        <span id="spinner" us-spinner></span>
    </section>
</div>
