<section id="feed-details-section-{{ feedId }}" class="hs-form">
    <form name="form" data-ng-if="vm.feed" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.title.$invalid && form.title.$touched }">
                    <label for="title">Title</label>

                    <input type="text" id="title" class="form-control" name="title" placeholder="Enter a title"
                        data-ng-model="vm.feed.title"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required></input>

                    <p class="help-block" data-ng-show="form.title.$invalid && form.title.$touched">
                        Please enter a title.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="type">Type</label>

                    <select id="type" class="form-control" name="type"
                        data-ng-options="feedType.id as feedType.name for feedType in vm.feedTypes"
                        data-ng-model="vm.feed.type"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.subtitle.$invalid && form.subtitle.$touched }">
                    <label for="subtitle">Subtitle</label>

                    <input type="text" id="subtitle" class="form-control" name="subtitle" placeholder="Enter a subtitle"
                           data-ng-model="vm.feed.subtitle"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           required></input>

                    <p class="help-block" data-ng-show="form.subtitle.$invalid && form.subtitle.$touched">
                        Please enter a subtitle.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" data-ng-class="{ 'has-error' : form.description.$invalid && form.description.$touched }">
                    <label for="description">Description</label>

                    <textarea id="description" class="form-control" name="description" placeholder="Enter a description"
                        data-ng-model="vm.feed.description"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required
                        rows="3"></textarea>

                    <p class="help-block" data-ng-show="form.description.$invalid && form.description.$touched">
                        Please enter a description.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.url.$invalid && form.url.$touched }">
                    <label for="url">URL</label>

                    <input type="text" class="form-control" id="url" name="url" placeholder="Enter a URL"
                        data-ng-model="vm.feed.url"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required></input>

                    <p class="help-block" data-ng-show="form.url.$invalid && form.url.$touched">
                        Please enter a URL.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.email.$invalid && form.email.$touched }">
                    <label for="email">Email</label>

                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter an email"
                        data-ng-model="vm.feed.email"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required></input>

                    <p class="help-block" data-ng-show="form.email.$invalid && form.email.$touched">
                        Please enter an email.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.copyright.$invalid && form.copyright.$touched }">
                    <label for="copyright">Copyright</label>

                    <input type="text" class="form-control" id="copyright" name="copyright" placeholder="Enter a copyright"
                        data-ng-model="vm.feed.copyright"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required></input>

                    <p class="help-block" data-ng-show="form.copyright.$invalid && form.copyright.$touched">
                        Please enter a copyright.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.category.$invalid && form.category.$touched }">
                    <label for="category">Category</label>

                    <input type="text" class="form-control" id="category" name="category" placeholder="Enter a category"
                        data-ng-model="vm.feed.category"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required></input>

                    <p class="help-block" data-ng-show="form.category.$invalid && form.category.$touched">
                        Please enter a category.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" data-ng-class="{ 'has-error' : form.keywords.$invalid && form.keywords.$touched }">
                    <label for="keywords">Keywords</label>
                    <small>(Comma-separated list, no spaces)</small>

                    <textarea class="form-control" id="keywords" name="keywords" placeholder="Enter keywords"
                        data-ng-model="vm.feed.keywords"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required
                        rows="3"></textarea>

                    <p class="help-block" data-ng-show="form.keywords.$invalid && form.keywords.$touched">
                        Please enter keywords.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button  type="button" class="btn btn-primary" data-ng-disabled="form.$invalid || vm.saving || !vm.dirty" data-ng-click="vm.save()">Save</button>
                <span class="hs-form-saving-text">
                    {{ vm.saving ? "Saving Changes..." : vm.dirty ? "" : "All Changes Saved." }}
                </span>
            </div>
        </div>
    </form>
</section>
