<section id="speaker-details-section-{{ speakerId }}" class="hs-form">
    <form name="form" data-ng-if="vm.speaker" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{ 'has-error' : form.name.$invalid && form.name.$touched }">
                    <label for="name">Name</label>

                    <input type="text" id="name" class="form-control" name="name" placeholder="Enter a name"
                        data-ng-model="vm.speaker.name"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        required></input>

                    <p class="help-block" data-ng-show="form.name.$invalid && form.name.$touched">
                        Please enter a name.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" data-ng-class="{ 'has-error' : form.description.$invalid && form.description.$touched }">
                    <label for="description">Description</label>

                    <textarea id="description" class="form-control" name="description" placeholder="Enter a description"
                        data-ng-model="vm.speaker.description"
                        data-ng-trim="true"
                        data-ng-maxlength="512"
                        rows="3"></textarea>

                    <p class="help-block" data-ng-show="form.description.$invalid && form.description.$touched">
                        Please enter a description. (optional)
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button  type="button" class="btn btn-primary" data-ng-disabled="form.$invalid || vm.saving || !vm.dirty" data-ng-click="vm.save()">Save</button>
                <span class="hs-form-saving-text">
                    {{ vm.saving ? "Saving Changes..." : vm.dirty ? "" : "All Changes Saved." }}
                </span>
            </div>
        </div>
    </form>
</section>
