<div class="container" data-ng-if="vm.state.feeds">
    <button class="btn btn-primary pull-right hs-add-button" data-ng-click="vm.addFeed()">Add Feed</button>

    <h1>Feeds</h1>

    <div class="table-responsive hs-table">
        <table id="feeds-list" class="display table table-bordered table-striped"
            data-datatable="ng"
            data-dt-options="vm.dtOptions"
            cellspacing="0"
            width="100%">

            <thead>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                </tr>
            </tfoot>

            <tbody>
                <tr data-ng-repeat="feed in vm.state.feeds">
                    <td>{{ feed.type | feedType }}</td>

                    <td>
                        <a data-ui-sref="feed({ id: feed.id })">{{ feed.title ? feed.title : "Untitled" }}</a>
                    </td>

                    <td>{{ feed.subtitle }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container" data-ng-if="!vm.state.feeds">
    <section class="hs-loading-view">
        <h1>Loading Feeds</h1>
        <p class="lead">Please wait one moment.</p>
        <span id="spinner" us-spinner></span>
    </section>
</div>
