<section class="hs-form" id="feed-details-section-{{ hash }}">

    <p class="hs-form-saving-text" data-ng-if="!vm.isLoading">

        {{ vm.isSavingChanges ? "Saving Changes..." : "All Changes Saved." }}

    </p>

    <form name="formFeedDetails" novalidate data-ng-if="!vm.isLoading">

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputTitle.$invalid && formFeedDetails.inputTitle.$touched }">

                    <label for="input-title">Title</label>

                    <input class="form-control"
                           id="input-title"
                           name="inputTitle"
                           data-ng-model="vm.feed.title"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           type="text"
                           placeholder="Enter a title"
                           required>

                    <p class="help-block" data-ng-show="formFeedDetails.inputTitle.$invalid && formFeedDetails.inputTitle.$touched">

                        Please enter a title.

                    </p>

                </div>

            </div>

            <div class="col-sm-6">

                <div class="form-group">

                    <label for="input-type">Type</label>

                    <select class="form-control"
                            id="input-type"
                            name="inputType"
                            data-ng-options="feedType.name for feedType in vm.feedTypes track by feedType.id"
                            data-ng-model="vm.selectedFeedType"></select>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputSubtitle.$invalid && formFeedDetails.inputSubtitle.$touched }">

                    <label for="input-subtitle">Subtitle</label>

                    <input class="form-control"
                           id="input-subtitle"
                           name="inputSubtitle"
                           data-ng-model="vm.feed.subtitle"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           type="text"
                           placeholder="Enter a subtitle"
                           required>

                    <p class="help-block" data-ng-show="formFeedDetails.inputSubtitle.$invalid && formFeedDetails.inputSubtitle.$touched">

                        Please enter a subtitle.

                    </p>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputDescription.$invalid && formFeedDetails.inputDescription.$touched }">

                    <label for="input-description">Description</label>

                            <textarea class="form-control"
                                      id="input-description"
                                      name="inputDescription"
                                      data-ng-model="vm.feed.description"
                                      data-ng-trim="true"
                                      data-ng-maxlength="512"
                                      placeholder="Enter a description"
                                      required
                                      rows="3"></textarea>

                            <p class="help-block" data-ng-show="formFeedDetails.inputDescription.$invalid && formFeedDetails.inputDescription.$touched">

                                Please enter a description.

                            </p>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputURL.$invalid && formFeedDetails.inputURL.$touched }">

                    <label for="input-url">URL</label>

                    <input class="form-control"
                           id="input-url"
                           name="inputURL"
                           data-ng-model="vm.feed.url"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           type="text"
                           placeholder="Enter a URL"
                           required>

                    <p class="help-block" data-ng-show="formFeedDetails.inputURL.$invalid && formFeedDetails.inputURL.$touched">

                        Please enter a URL.

                    </p>

                </div>

            </div>

            <div class="col-sm-6">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputEmail.$invalid && formFeedDetails.inputEmail.$touched }">

                    <label for="input-email">Email</label>

                    <input class="form-control"
                           id="input-email"
                           name="inputEmail"
                           data-ng-model="vm.feed.email"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           type="email"
                           placeholder="Enter an email"
                           required>

                    <p class="help-block" data-ng-show="formFeedDetails.inputEmail.$invalid && formFeedDetails.inputEmail.$touched">

                        Please enter an email.

                    </p>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputCopyright.$invalid && formFeedDetails.inputCopyright.$touched }">

                    <label for="input-copyright">Copyright</label>

                    <input class="form-control"
                           id="input-copyright"
                           name="inputCopyright"
                           data-ng-model="vm.feed.copyright"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           type="text"
                           placeholder="Enter a copyright"
                           required>

                    <p class="help-block" data-ng-show="formFeedDetails.inputCopyright.$invalid && formFeedDetails.inputCopyright.$touched">

                        Please enter a copyright.

                    </p>

                </div>

            </div>

            <div class="col-sm-6">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputCategory.$invalid && formFeedDetails.inputCategory.$touched }">

                    <label for="input-category">Category</label>

                    <input class="form-control"
                           id="input-category"
                           name="inputCategory"
                           data-ng-model="vm.feed.category"
                           data-ng-trim="true"
                           data-ng-maxlength="512"
                           type="text"
                           placeholder="Enter a category"
                           required>

                    <p class="help-block" data-ng-show="formFeedDetails.inputCategory.$invalid && formFeedDetails.inputCategory.$touched">

                        Please enter a category.

                    </p>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="form-group" data-ng-class="{ 'has-error' : formFeedDetails.inputKeywords.$invalid && formFeedDetails.inputKeywords.$touched }">

                    <label for="input-keywords">Keywords</label>

                    <small>(Comma-separated list, no spaces)</small>

                            <textarea class="form-control"
                                      id="input-keywords"
                                      name="inputKeywords"
                                      data-ng-model="vm.feed.keywords"
                                      data-ng-trim="true"
                                      data-ng-maxlength="512"
                                      placeholder="Enter keywords"
                                      required
                                      rows="3"></textarea>

                            <p class="help-block" data-ng-show="formFeedDetails.inputKeywords.$invalid && formFeedDetails.inputKeywords.$touched">

                                Please enter keywords.

                            </p>

                </div>

            </div>

        </div>

    </form>

    <div data-ng-if="vm.isLoading">

        <p class="hs-form-loading-view">Loading Feed Form...</p>

    </div>

</section>
