<div class="alert alert-success alert-dismissible" role="alert" data-ng-if="vm.status === vm.UPLOAD_STATUS_COMPLETE">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <i class="fa fa-check-circle"></i> &nbsp;Image uploaded successfully.
</div>

<div class="alert alert-danger alert-dismissible" role="alert" data-ng-if="vm.status === vm.UPLOAD_STATUS_ERROR">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ vm.file.name }}</strong> - Upload failed
</div>

<div class="alert alert-danger alert-dismissible" role="alert" data-ng-if="vm.invalidFile">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ vm.invalidFile.name }}</strong> - Invalid file
</div>

<button type="file" accept="image/jpeg" class="btn btn-default hs-media-image-upload-button"
    data-ng-if="vm.status === vm.UPLOAD_STATUS_WAITING || vm.status === vm.UPLOAD_STATUS_COMPLETE || vm.status === vm.UPLOAD_STATUS_ERROR"
    data-ngf-select="vm.selectFile($file, $invalidFiles)">

    <i class="fa fa-cloud-upload"></i> &nbsp;Upload Image
</button>

<div class="hs-media-image-upload" data-ng-if="vm.status === vm.UPLOAD_STATUS_UPLOADING || vm.status === vm.UPLOAD_STATUS_PREPARING">
    <p><strong>Uploading Image:</strong></p>
    <p>{{ vm.file.name }}</p>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="{{ vm.progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: {{ vm.progress }}%">

            <span class="sr-only">{{ vm.progress }}% Complete</span>
        </div>
    </div>

    <p>{{ vm.progress | number:0 }}% - {{ vm.loaded | fileSize }} of {{ vm.total | fileSize }}</p>

    <div data-ng-show="vm.status === vm.UPLOAD_STATUS_UPLOADING">
        <button class="btn btn-danger-inverse" data-ng-click="vm.cancelUpload()">Cancel</button>
    </div>
</div>
